a:hover, button:hover, .change:hover, #plus:hover{
    scale: 1.2;
    color: #adff2f;
    border-color: #adff2f;
}
.container a:hover{
    border-bottom: 1px groove #adff2f;
}
.play-album:hover {
    scale: 1.1;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes rotate{
    0%{
        transform:rotate(-180deg);
    }
    30%{
        transform:rotate(180deg);
    }
}