a:hover, button:hover, .change:hover, #plus:hover{
    scale: 1.2;
    color: #adff2f;
    border-color: #adff2f;
}
.container a:hover{
    border-bottom: 1px groove #adff2f;
}
a-side li:hover{
    border-left: 2px solid #adff2f;
}
.play-album:hover {
    scale: 1.1;
    opacity: 0.8;
}
.play-album i:hover{
    opacity: 1;
    cursor: pointer;
}