.container{
    width: 80%;
    color: #ffffff;
    margin-left: 6.25rem;
    justify-content: flex-end;
    position: sticky;
    top: 12%;
    padding-top: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

.container ul{
    justify-content: center;
    color: #6f6f6f;
    flex-wrap: wrap;
    gap: .625rem;
    margin-bottom: 9.375rem;
}