a-side{
    height: 100%;
    max-width: 14.375rem;
    background: #000000;
    flex-direction: column;
    padding: .625rem;
    color: #6f6f6f;
    justify-content: space-between;
    position: fixed;
}
.logo {
    width: 9.375rem;
}
.icons{
    width: 1.5625rem;
    vertical-align: middle;
}
#user{
    border-radius: 50%;
    background-color: #808080;
}
#bottom-nav span{
    color: #ffffff;
}

#playlist-nav{
    margin: 1.875rem 0;
    height: 11.25rem;
    overflow: auto;
}
#plus{
    padding: 0 10px;
    background: #a3a3a3;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}
#playlist-title li span{
    vertical-align: super;
}
#playlist-title h3{
    color: #ffffff;
}
#bottom-nav ul{
    margin-bottom: 5rem;
}